@mixin navbar {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.35px;
    text-decoration: none;
}

@mixin font-Monsterrat {
    font-family: 'Montserrat', sans-serif;
}

@mixin font-Roboto {
    font-family: 'Roboto Slab', serif;
}

.hover {
    &__heading {
        text-align: center;
        &_up {
            @include font-Monsterrat();
            color: #ffffff;
            font-size: 48px;
            font-weight: 400;
            text-transform: uppercase;
        }
        &_lower {
            @include font-Roboto();
            color: #ffffff;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
        }
    }
    &__button {
        @include font-Monsterrat();
        width: 111px;
        height: 13px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
    }
}

// main
// section-services
.wrapper {
    text-align: center;
}

.section-services__title {
    @include font-Montserrat-Bold();
    color: #555555;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.section-services__subtitle {
    height: 17px;

    @include font-Roboto();
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

// section_about-us
.text {
    height: 110px;

    @include font-Roboto();
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.about-us {
    &__name {
        margin-top: 20px;

        height: 11px;

        @include font-Monsterrat();
        text-align: center;
        color: #555555;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
    }
    &__post {
        margin-top: 15px;

        height: 14px;

        @include font-Roboto();
        text-align: center;
        color: #555555;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
    }
}

// section_latest-works
.latest-works {
    &__link {
        height: 17px;

        @include font-Roboto();
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #555555;
    }
    &__link:not(:first-child) {
        margin-left: 27px;
    }
    &__link:hover {
        color: #c0301c;
        transition-delay: 0.2s;
    }
}

// section_feedback
.feedback {
    &__title {
        padding-top: 99px;

        width: 100%;
        height: auto;

        @include font-Roboto();
        text-align: center;
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
        line-height: 44px;
    }
}

// section-posts
.posts {
    .article {
        &__title {
            width: 100%;
            height: auto;

            color: #c0301c;
            @include font-Montserrat-Bold;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
        }
        &__subtitle {
            color: #777777;
            @include font-Roboto();
            font-size: 13px;
            font-weight: 400;
            font-style: italic;
            line-height: 24px;
            &_red {
                color: #c0301c;
            }
        }
        .date {
            @include font-Montserrat-Bold();
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            color: #777777;
            letter-spacing: 1.4px;
            text-align: center;
            .number {
                letter-spacing: 2.4px;
                font-size: 24px;
            }
        }
        .review {
            margin-top: 23px;

            max-width: 100%;
            height: auto;

            color: #555555;
            @include font-Roboto();
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
        .article__aside_third-line {
            color: #777777;
            @include font-Roboto-Slab-Bold();
            font-size: 13px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            text-decoration: none;
        }
        .article__aside_third-line:hover {
            color: #c0301c;
            transition-delay: 0.2s;
        }
    }
}

// section-label
.lable {
    &__title {
        margin-top: 68px;

        max-width: 100%;
        height: auto;

        color: #555555;
        @include font-Roboto();
        font-size: 18px;
        font-weight: 400;
        font-style: italic;
        line-height: 30px;
        text-align: center;
    }
    &__subtitle {
        margin-top: 42px;
        
        color: #555555;
        @include font-Roboto();
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
    }
}