@mixin navbar {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.35px;
    text-decoration: none;
}

@mixin font-Monsterrat {
    font-family: 'Montserrat', sans-serif;
}

@mixin font-Roboto {
    font-family: 'Roboto Slab', serif;
}

.hover {
    &__heading {
        text-align: center;
        &_up {
            @include font-Monsterrat();
            color: #ffffff;
            font-size: 48px;
            font-weight: 400;
            text-transform: uppercase;
        }
        &_lower {
            @include font-Roboto();
            color: #ffffff;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
        }
    }
    &__button {
        @include font-Monsterrat();
        width: 111px;
        height: 13px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
    }
}

// main
// section-services
.wrapper {
    text-align: center;
}

.section-services__title {
    @include font-Monsterrat();
    color: #555555;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.section-services__subtitle {
    height: 17px;

    @include font-Roboto();
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

// section_about-us
.text {
    height: 110px;

    @include font-Roboto();
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.about-us {
    &__name {
        margin-top: 20px;

        height: 11px;

        @include font-Monsterrat();
        text-align: center;
        color: #555555;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
    }
    &__post {
        margin-top: 15px;

        height: 14px;

        @include font-Roboto();
        text-align: center;
        color: #555555;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
    }
}