.footer {
    background-color: #c0301c;
    margin-top: 101px;
}

.company {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    &__link {
        display: flex;
        justify-content: center;
        .img1:not(:first-child) {
            margin-left: 14px;
        }
    }
    &__img {
        margin-top: 30px;
        margin-bottom: 29px;
    }
}