.hat-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;

    width: 540px;

    .header-nav__link {
        @include navbar;
    }
}