body {
    background:
    url(../assets/img/header_background/upper.png),
    url(../assets/img/header_background/middle.png),
    url(../assets/img/header_background/lower.png),

    url(../assets/img/main_background/about_us/gray_block.png) center 1348px,

    url(../assets/img/main_background/paralax_section/upper.png) center 3581px,
    url(../assets/img/main_background/paralax_section/middle.png) center 3581px,
    url(../assets/img/main_background/paralax_section/lower.png) center 3581px,

    url(../assets/img/main_background/clients_section/gray_block.png) center 5028px,

    url(../assets/img/footer_background/red_block.png) center 6166px;

    
    background-size: 100vw auto;
    background-repeat: no-repeat;
}