.hat {
    display: flex;
}
.article {
    width: 50%;
    display: flex;
    justify-content: space-around;
    &__logo {
        display: flex;
        margin-top: 44px;
        .logo__text {
            margin-top: 7px;
            margin-left: 18px;
            

            @include Proxima-Nova-Semibold;
            color: #333333;
            font-size: 24px;
            font-weight: 400;
            text-decoration: none;
            .pink {
                color: #ff4d87;
            }
        }
    }
    &__link {
        margin-top: 60px;

        @include Proxima-Nova-Semibold;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ff0a6a;
        text-decoration: none;
    }
}

.aside {
    min-height: 900px;
    width: 50%;
    background: url(../assets/images/background/background-first.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    &__nav {
        display: flex;
        justify-content: space-around;
        max-width: 520px;
    }
    &__link {
        margin-top: 60px;

        color: #333333;
        @include Proxima-Nova-Semibold;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
    }
    &__button {
        margin-top: 60px;
    }
}

// .header {
//     height: 100vh;
//     background-image: url(../assets/images/background/background-first.png);
//     background-position: top right;
//     background-size: right top;
//     // background-size: contain;
//     background-size: 50% 900px;
//     background-repeat: no-repeat;
// }